{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pepperoni club</title>
    <!-- mobile setup -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-title" content="Pepperoni club" />
    <!-- stylesheet -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'static/css/style-default.css' %}">
    <!-- Page description -->
    <meta name="description" content="">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="72x72" href="{% static './img/favicons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static './img/favicons/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static './img/favicons/apple-touch-icon-152x152.png' %}">
    <link rel="icon" type="image/png" href="{% static './img/favicons/favicon.png' %}" sizes="96x96">

<body>
    <!-- Top shadow -->
    <div class="shadow"></div>
    <!-- end top shadow -->
    <!-- The splash screen -->
    <div id="splash">
        <div class="loader"> <img class="splash-logo" src="{% static './img/logo/2.png' %}" />
            <div class="line"></div>
        </div>
    </div>
    <!-- End of splash screen -->
    <div id="wrapper">
        <!-- main content -->
        <main>
            <!-- The header for content -->
            <header class="detail">
                <a href="." class="back" data-transition="slide-from-top">
                    <h1>back</h1>
                </a>
                <section>
                    <h3 class="badge">Контакти</h3>
                    <h1>Залиште нам повідомлення</h1>
                </section>
            </header>
            <!-- end header -->
            <div class="content-wrap">
                <section class="content"> <i class="icon bg icon-LocationMarker"></i>
                    <section class="info">
                        <header>
                            <h2>Інформація</h2>
                            <h4 class="serif">Наше місцезнаходження</h4>
                        </header>
                        <ul class="icon-list">
                            <li> <a href="#">
                                    <i class="icon icon-LocationMarker"></i>
                                    <span>Market 5, 9100 New York</span>
                                </a> </li>
                            <li> <a href="tel:+31 45 43 32 43">
                                    <i class="icon icon-Phone"></i>
                                    <span>+31 45 43 32 43</span>
                                </a> </li>
                            <li> <a href="mailto:info@vagebond.nl">
                                    <i class="icon icon-Email"></i>
                                    <span>info@vagebond.nl</span>
                                </a> </li>
                            <li> <a href="#">
                                    <i class="icon icon-Share"></i>
                                    <span>facebook/vagebond</span>
                                </a> </li>
                        </ul>
                    </section>
                    <section class="hours">
                        <header>
                            <h2>Години роботи</h2>
                            <h4 class="serif">Ви можете узгодити додатковий час з адміністрацією ресторану</h4>
                        </header>
                        <div class="hours"> <time itemprop="openingHours" datetime="Monday 10:00-24:00">
                    <strong>Понеділок</strong>
                    <h3>10:00 - 23:00</h3>
                </time> <time itemprop="openingHours" datetime="Tuesday 10:00-24:00">
                    <strong>Вівторок</strong>
                    <h3>10:00 - 23:00</h3>
                </time> <time itemprop="openingHours" datetime="Wednesday 10:00-24:00">
                    <strong>Середа</strong>
                    <h3>10:00 - 23:00</h3>
                </time> <time itemprop="openingHours" datetime="Closed">
                    <strong>Четвер</strong>
                    <h3>10:00 - 23:00</h3>
                </time> <time itemprop="openingHours" datetime="Friday 10:00-24:00">
                    <strong>П'ятниця</strong>
                    <h3>10:00 - 23:00</h3>
                </time> <time itemprop="openingHours" datetime="Saturday 10:00-23:00">
                    <strong>Субота</strong>
                    <h3>10:00 - 23:00</h3>
                </time> <time itemprop="openingHours" datetime="Sunday closed">
                    <strong>Неділя</strong>
                    <h3>Зачинено</h3>
                </time> </div>
                    </section>
                    <section class="form-inline">
                        <header>
                            <h2>Повідомлення</h2>
                            <h4 class="serif">Ми хотіли б почути від вас!</h4>
                            <p>Ви можете поділитись з нами своєю думкою, запропонувати пропозицію. Будемо вдячні за зворотній зв'язок.</p>
                        </header>
                        <form action="./php/contact.php" method="post" id="contact-form" class="form ambiance-html-form">
                            <div class="row">
                                <div class="form-group"> <input name="name" id="name" type="text" placeholder="ім'я"> <i class="icon icon-User"></i> </div>
                                <div class="form-group"> <input class="full-border" name="email" id="email" type="email" placeholder="email"> <i class="icon icon-Email"></i> </div>
                            </div>
                            <div class="form-group"> <textarea rows="10" cols="40" required="required" name="message" id="body" placeholder="повідомлення"></textarea> <i class="icon icon-Typing"></i> </div> <span class="message"><strong>Статус:</strong> </span>
                            <div class="submit"> <button type="submit" value="submit">
                        <i class="icon icon-Forward"></i>
                    </button> </div>
                        </form>
                    </section>
                </section>
            </div>
            <div data-remodal-id="modal"> <i class="icon bg icon-CommentwithLines"></i> <button data-remodal-action="close" class="remodal-close"></button>
                <h1>Дякуємо!</h1>
                <p>Ми зв'яжемось з Вами якомога швидше!</p>
                <div class="signature center">
                    <h6>-CHEF-</h6>
                    <h5>Pierre Gabant</h5>
                </div>
            </div>
        </main>
        <!-- end of main content -->
    </div>
    <!-- The slideshow -->
    <ul id="slideshow" data-speed="6000">
        <li> <img src="{% static './img/slideshow/1.jpg' %}" alt="slideshow image" /> </li>
        <li> <img src="{% static './img/slideshow/2.jpg' %}" alt="slideshow image" /> </li>
        <li> <img src="{% static './img/slideshow/3.jpg' %}" alt="slideshow image" /> </li>
        <li> <img src="{% static './img/slideshow/4.jpg' %}" alt="slideshow image" /> </li>
        <li> <img src="{% static './img/slideshow/5.jpg' %}" alt="slideshow image" /> </li>
        <li> <img src="{% static './img/slideshow/6.jpg' %}" alt="slideshow image" /> </li>
    </ul>
    <!-- end of slideshow -->
    <script type="text/javascript" src="{% static 'static/js/libs/history.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/libs/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/libs/page.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/libs/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="{% static 'static/js/libs/backgroundvideo/backgroundvideo.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/libs/photoswipe/photoswipe.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/libs/photoswipe/photoswipe-ui-default.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/libs/device.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/libs/remodal/remodal.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/custom/slidenavigation.js' %}"></script>
    <script type="text/javascript" src="{% static 'static/js/app.js' %}"></script>
</body>

</html>
